:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base */
body {
    background-color: var(--preto);
    /* a primeira fonte é a principal, as outras são usadas caso não seja possível usar a primeira*/
    font-family: 'Times New Roman', Times, serif; 
    color: white;
}

header .container {
    display: flex;
    flex-direction: row; /* Vem setado em row por default*/
    align-items: center;
    justify-content: space-between; /* O justify-content sempre segue a direção do flex-direction */
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none; /* Tira sublinhado da fonte*/
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover { /* Quando o mouse passar em cima */
    color: #fff;
}

/* Filme principal */
.filme-principal {
    font-size: 24px;
    background: linear-gradient(rgba(0, 0, 0, .50), 
                                rgba(0, 0, 0, .50) 100%), 
                                url('../img/peaky_blinders.jpg');
    height: 400px;
    background-size: cover; /* A imagem de background vai preencher a caixa */
    display: flex;
    flex-direction: column;
    justify-content: center; /* O justify-content sempre segue a direção do flex-direction */
    align-items: flex-start; 
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 46px;    
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3 ease all;
}

.botao :hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 40%;
}

.splide__track img {
    margin-top: 100px;
    width: 99%;
    height: auto;
}